:root{
    /* COLORS */
    /* Shades used in the Shopify Nav Bar */
    --grey-50 : #656266;
    --grey-100: #616161;
    --grey-200: #322F33;
    --grey-300: #1C181D;
    --green: #36FBA1;

    /* Color shades used for the font on the Shopify design layout. */
    --greyLight: #E3E3E3;
    ---greyMid: #616161;
    --greyDark: #475467;
    
    /* Used for the strokes on the design layout. */
    --s-50: #EBEBEB;
    --s-100: #000000/7%;
    --s-200:#FFFFFF/20%;

    /* Colors used for different states of the interactive components. */
    --hover: #F7F7F7;
    --pressed: #F0F0F0;
    --focused: #005BD3;
    
    /* White and the layout background color. */
    --white: #FFFFFF;
    --background:  #F1F1F1;

    /* Below are the font sizes used in this projects. */
    --fontSize-12: 12px;
    --fontSize-13: 13px;
    --fontSize-14: 14px;    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    background-color: var(--background);
    position: relative;
}
header{
    background-color: var(--grey-300);
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 1;
}
#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--greyLight);
    padding: 0 20px;        
}
#nav-menu, #nav-search{
    display: flex;
}
.user{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-search{
    align-items: center;
    width: 50%;
}
#nav-search input{
    width: 70%;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--grey-200);
    outline: none;
    border: 1px var(--grey-100);    
}
#nav-search input::placeholder{
    padding-left: 30px;
    color: var(--greyLight);
}
#search-icon{
    position: relative;
    left: 200%;
    top: 20%;

    filter:brightness(3);
}

#notification-icon, #cross{
    filter: brightness(5);
    width: 30px;    
    cursor: pointer;
}
#nav-menu{
    column-gap: 10px;
}

#name{
    background-color: var(--grey-200);
    font-size: var(--fontSize-12);
    font-weight: 300;
    padding: 13px;
    border-radius: 10px;
    width: 134px;
}
#alias{
    background-color: var(--green);
    color: var(---greyMid);
    font: var(--fontSize-12);
    font-weight:bold;
    padding: 7.5px;
    border-radius: 10px;
    position: relative;
    right: 21%;
    cursor: pointer;
    outline: none;
    border: 0;
}
#free{    
    width: 100%;
    margin-top: 80px;
}
#free-trial{
    display: flex;
    flex-direction: column;    
    color: var(--greyLight);
    font-size: var(--fontSize-12);
    padding: 12px 8px 12px 16px;
    background-color: var(--grey-300);  
}
#free-trial:hover{
    transition: .5s ease-in-out;
    background-color: var(--grey-200);
}

#free-trial img{
    width: 36px;
    height: 36px;
}
#trial-group{
    display: flex;
    align-items: center;        
}
.trial-button{
    padding: 13px 20px;
    border-radius: 10px;
    color: var(--grey-300);
    font-size: var(--fontSize-12);
    font-weight: 700;
    border: 0;
    outline: none;
}
.button1{
    display: none;
}
.plan{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    column-gap: 10px;
}
.container{
    background-color: var(--white);
    padding: 12px 8px 12px 16px;
    margin: 20px 0;    
}
.main{
    display: flex;    
}

#arrowdown{
    display: none;
}
#arrowdown, #arrowup{
    margin-top: 25px;
    cursor: pointer;
}
#range{
    display: flex;
    align-items: center;
    column-gap: 7px;
}
input {
    --g: 0px    ; /* the gap */
    --l: 3px; /* line thickness*/
    --s: 5px; /* thumb size*/
    
    height: var(--s); /* needed for Firefox*/
    border-radius: 15px;
    -webkit-appearance :none;
    -moz-appearance :none;
    appearance :none;
    background: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }
  
  /* chromium */
  #range input[type="range" i]::-webkit-slider-thumb{
    height: var(--s);
    aspect-ratio: 1;
    border-radius: 50%;
    border-image: linear-gradient(90deg,var(--grey-200) 50%,#ababab 0) 1/0 100vw/0 calc(100vw + var(--g));
    -webkit-appearance: none;
    appearance: none;
  }
  /* Firefox */
  input[type="range"]::-moz-range-thumb {
    height: var(--s);
    width: var(--s);
    background: none;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--l) inset var(--grey-200);
    border-image: linear-gradient(90deg,var(--grey-200) 50%,#ababab 0) 1/0 100vw/0 calc(100vw + var(--g));
    -moz-appearance: none;
    appearance: none;
  }
  .cards{
    width: 100%;        
    transition: 3s ease-out;
  }
  .items-container{
    display: flex;
    column-gap: 20px;
    padding: 10px 5px;
    margin-left: -10px;
  }
  .list{
    height: fit-content;
  }
.dashed-circle{
    filter: brightness(0.5);        
}
.spinner{
    display: none;
    filter: brightness(0.5);
    animation: animate 1s ease infinite;
}
.checkmark{
    display: none;
}
ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
li{
    list-style: none;
    margin: 0;
}
li a{
    text-decoration: none;
    color: var(--focused);
    font-weight: 500;
}
.accordion{
    width: 100%; 
    padding:0 ;
    border: 0;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-size: var(--fontSize-14);
    font-weight: 600;
}
.coll{
    border-radius: 10px;
}
.collapse{
    background-color: var(--pressed);
    transition: 0.4s all;
}
.panel-btn{
    background-color: var(--grey-50);
    color: var(--white);
    padding: 6px 12px;
    font-weight: 600;
    border-radius: 10px;
}
.panel{
    display: none;
}
.panel-off{
    display: none;
}
.panel-on{
    display: block;
}
.spin{
    display: block;
}
.check{
    display: block;
}
@keyframes animate {
    0%{
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
    }
    
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: var(--white);         
    width: 300px;
    border-radius: 15px;
    position: absolute;
    top: 9.5%;
    right: 1.7%;
    row-gap: 1.5px;
    box-shadow: 2px 2px 6px 1px var(--greyLight);    
    display: none;
}

.menu-drop{
    display: flex;        
    flex-direction: column;
}
.alert-drop{
    display: block;
}
.user-menu, .store, .sub-button, .manage{
    margin: 5px;
}

.menu button{
    background-color: white;
    border: 0;
    text-align: left;
    cursor: pointer;
}
.user-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--s-50);    
    height: 50px;
    border-radius: 15px;    
    padding: 0 7px;
}
#name-menu{
    font-size: var(--fontSize-12);
    font-weight: 300;
    padding: 13px;
    border-radius: 10px;
    width: 134px;
}
#alias-menu{
    background-color: var(--green);
    color: var(---greyMid);
    font: var(--fontSize-12);
    font-weight:bold;
    padding: 7.5px;
    border-radius: 10px;
}
#sub-menu{
    display: flex;
}
.store{
    display: flex;
}
.sub-button{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.menu-btn{
    font-size: var(--fontSize-14);
    transition: .5s all;
}
.menu p{
    font-size: var(--fontSize-12);
    margin: 0 0 10px 6px;
}
.manage{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.alert{
    display: none;
    flex-direction: column;
    background-color: var(--white);         
    border-radius: 15px;
    position: absolute;
    top: 9.5%;
    right: 1.7%;
    row-gap: 1.5px;
    box-shadow: 2px 2px 6px 1px var(--greyLight);   
    padding: 10px;
    width: 400px;
}
.alert-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.alert-icons{
    display: flex;
    align-items: center;
    column-gap: 15px;
}
#alert-img{
    filter: brightness(0.3);
}
.alert p{
    background-color: var(--s-50);
    padding: 20px;
    font-size: var(--fontSize-14);
    font-weight: bold;
}
  /* MEDIA QUERIES */
@media screen and (max-width:480px) {
    #navbar{
        padding: 15px;
    }
    #name, #desktop-logo{
        display: none;        
    }
    #nav-menu{
        margin-right: 20px;
    }
    #nav-search input{     
        padding: 15px;
    }
    #nav-search{
        width: 100%;
    }
    #nav-menu{
        column-gap: 20px;
    }
    .items-container{       
        column-gap: 5px;
      }
     .panel-img{
        display: none;
    }
    .alert{
    width: 85%;
    right: 0;
    left: 0;
    margin: 0 auto;
    box-shadow: 0 0 0 0 ;
    }
    .alert p{
        font-size: var(--fontSize-12);
        text-align: center;
    }
}
@media screen and (min-width:480px) and (max-width:930px){    
    #navbar{
        padding: 5px;
    }
    #mobile-logo{
        display: none;
    }
    .trial-button{
        padding: 10px 40px;
    }
    .panel span{
        display:block;
    }
}
@media screen and (min-width:600px) {    
    #mobile-logo{
        display: none;
    }
    #free{
        width: 70%;        
    }
    #free-trial{
        border-radius: 15px;    
    }
    .button1{
        display: block;
    }
    .button2{
        display: none;
    }
    #trial-group{
        justify-content: space-between;
    }
    .container{
        border-radius: 15px;
    }
    .main{
        justify-content: space-between;        
    }
    .panel{
        display: none;
        justify-content: space-between;
        align-items: center;        
        margin-top: -20px;
    }
    .panel span{
        display:block;
    }
}
/* MEDIA QUERIES */